@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&display=swap');


:root{
    --warning: #ffc107;
    --success: #198754;
    --secondary: #383838;
    --body: #FFF5E6;
    --font-scale: scale(0.8,1.3);
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'BIZ UDPGothic', sans-serif;
    background-color: var(--body);
    font-size: 1.6rem;
    height: 100%;
    
}

nav{
    width: 100%;
    height: 8rem;
    padding: 0 0.5rem 0 1.5rem;
    background-color: var(--success);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    height: 100%;
    display: flex;
    align-items: center;
}

h1 img{
    height: 7.5rem;
    width: 7rem;
}

h1 span{
    display: inline-block;
    transform: var(--font-scale) translate(-12%,3%);
    font-family: 'Dela Gothic One', sans-serif;
    color: var(--warning);
    font-size: 5rem;
    text-stroke: 0.15rem black;
    -webkit-text-stroke: 0.15rem black;
    font-weight: 900;
}

nav ul{
    display: flex;
}

nav li{
    border-radius: 0.25rem;
    background-color: var(--warning);
    margin: 0 0.5rem;
    padding: 0.5rem;
}

nav li a{
    font-family: 'Dela Gothic One', sans-serif ;
    display: inline-block;
    transform: var(--font-scale);
    color: black;
    font-size: 2.5rem;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px calc((100% - 1000px) / 2) 20px;
}

article{
    width:70%;
}

article h2{
    font-size: 2.3rem;
    background-color: #FFD699;
    padding: 2rem 0;
}

article h2 span{
    border-left: 0.4rem solid #000;
    padding: 0.6rem 2.1rem;
}

article section{
    background-color: white;
    padding: 3rem;
    margin: 1.5rem 0;
}

.hover{
    overflow: hidden;
    position: relative;
}

.hover .mask{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease;
}

.hover:hover .mask{
    opacity: 1;
}

.hover .caption{
    font-size: 2.5rem;
    color: white;
}

aside{
    width: 28%;
}

aside h3{
    font-size: 18px;
    background-color: #FFD699;
    padding: 18px 0;
}

aside h3 span{
    border-left: 3px solid #000;
    padding: 4px 18px;
}

aside section{
    margin: 13px 0;
    padding: 15px;
    background-color: white;
}

.news li{
    font-size: 13px;
    margin-bottom: 10px;
}

.news time{
    font-size: 10px;
    color: #999;
}

footer{
    padding: 3rem;
    background-color: var(--secondary);
    color: white;
}

footer a{
    display: block;
    font-size: 1.4rem;
    padding-top: 1rem;
}

@media screen and (width<=1000px){
    html{
        font-size: 55%;
    }
    .wrapper{
        margin: 3rem 0 0.2rem;
        width: 100vw;
    }

    nav li{
        padding: 5px 1px;

    }

    nav li a{
        font-size: 2.2rem;
    }

}

@media  screen and (width<=600px) {
    html{
        font-size: 40%;
    }
    .wrapper{
        justify-content: center;
    }
    article{
        width: 90%;
    }
    aside{
        display: none;
    }
    nav li{
        display: none;
    }

}
